APPS/working_station_nodered_flow.txt
[{"id":"91f72fc1.ad888","type":"ui_text_input","z":"81ad6a52.8e0718","name":"","label":"MESSAGE","group":"bd7dc569.2b9138","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":171,"y":169.40625,"wires":[["46f8f658.cde5c8","1e400e3e.3cbbe2"]]},{"id":"8e933bbf.8f7148","type":"function","z":"81ad6a52.8e0718","name":"decode","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":337.96307373046875,"y":255.10794067382812,"wires":[["8e531b2a.e6c808"]]},{"id":"8e531b2a.e6c808","type":"split","z":"81ad6a52.8e0718","name":"","splt":"*","x":473.9630889892578,"y":252.80111694335938,"wires":[["933fb71d.535708"]]},{"id":"933fb71d.535708","type":"switch","z":"81ad6a52.8e0718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!","vt":"str"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":";","vt":"str"},{"t":"cont","v":"$","vt":"str"}],"checkall":"true","outputs":4,"x":596.9630584716797,"y":255.352294921875,"wires":[["5a20abf1.40fa74"],["b17bfbe7.110078"],["f74d4991.4e3988"],["b5b85af.2ee9aa8"]]},{"id":"994b32bc.017aa","type":"ui_text","z":"81ad6a52.8e0718","group":"bd7dc569.2b9138","order":1,"width":0,"height":0,"name":"","label":"date","format":"{{msg.payload}}","layout":"row-spread","x":872.9545440673828,"y":207.25851440429688,"wires":[]},{"id":"4007f31a.b7916c","type":"ui_text","z":"81ad6a52.8e0718","group":"bd7dc569.2b9138","order":2,"width":0,"height":0,"name":"","label":"code","format":"{{msg.payload}}","layout":"row-spread","x":870.9545440673828,"y":246.25851440429688,"wires":[]},{"id":"b17bfbe7.110078","type":"split","z":"81ad6a52.8e0718","name":"code","splt":"/","x":735.0994415283203,"y":245.3153076171875,"wires":[["4007f31a.b7916c"]]},{"id":"5a20abf1.40fa74","type":"split","z":"81ad6a52.8e0718","name":"date","splt":"!","x":734.0994415283203,"y":207.3153076171875,"wires":[["994b32bc.017aa"]]},{"id":"f74d4991.4e3988","type":"split","z":"81ad6a52.8e0718","name":"code","splt":";","x":733.0994415283203,"y":282.40625,"wires":[["707d6c54.534be4"]]},{"id":"707d6c54.534be4","type":"ui_text","z":"81ad6a52.8e0718","group":"bd7dc569.2b9138","order":3,"width":0,"height":0,"name":"","label":"worker","format":"{{msg.payload}}","layout":"row-spread","x":869.0994415283203,"y":284.40625,"wires":[]},{"id":"8e8401a7.3aa3f","type":"ui_chart","z":"81ad6a52.8e0718","name":"","group":"bd7dc569.2b9138","order":0,"width":0,"height":0,"label":"ACTIVITY","chartType":"line","legend":"false","xformat":"%H:%M","interpolate":"step-after","nodata":"","ymin":"0","ymax":"1","removeOlder":"2","removeOlderUnit":"3600","x":864.9630279541016,"y":322.96875,"wires":[[],[]]},{"id":"b5b85af.2ee9aa8","type":"split","z":"81ad6a52.8e0718","name":"code","splt":"$","x":731.0994415283203,"y":318.40625,"wires":[["8e8401a7.3aa3f"]]},{"id":"46f8f658.cde5c8","type":"trigger","z":"81ad6a52.8e0718","op1":"","op2":" ","op1type":"nul","op2type":"str","duration":"100","extend":false,"units":"ms","reset":"","name":"","x":169.9545440673828,"y":80,"wires":[["91f72fc1.ad888"]]},{"id":"1e400e3e.3cbbe2","type":"tcp out","z":"81ad6a52.8e0718","host":"","port":"6606","beserver":"server","base64":false,"end":false,"name":"","x":414.0000305175781,"y":147.40625,"wires":[]},{"id":"b62f622.9ff4da","type":"tcp in","z":"81ad6a52.8e0718","name":"","server":"server","host":"","port":"6706","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":142.00003051757812,"y":241.40625,"wires":[["8e933bbf.8f7148"]]},{"id":"5865b0e9.1970f","type":"ui_text_input","z":"81ad6a52.8e0718","name":"","label":"MESSAGE","group":"342505e1.bbbe5a","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":164.00003051757812,"y":478,"wires":[["62894b27.f341c4","418720c1.991d9"]]},{"id":"8ddbe68d.13fdb8","type":"function","z":"81ad6a52.8e0718","name":"decode","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":330.9631042480469,"y":563.7016906738281,"wires":[["b37e6d1c.f4d"]]},{"id":"b37e6d1c.f4d","type":"split","z":"81ad6a52.8e0718","name":"","splt":"*","x":466.96311950683594,"y":561.3948669433594,"wires":[["1b8df014.b8cd2"]]},{"id":"1b8df014.b8cd2","type":"switch","z":"81ad6a52.8e0718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!","vt":"str"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":";","vt":"str"},{"t":"cont","v":"$","vt":"str"}],"checkall":"true","outputs":4,"x":589.9630889892578,"y":563.946044921875,"wires":[["2e8cb3e.0d19d4c"],["bd1d98b5.5f53d8"],["93c5d960.f46508"],["293c2d2.63161d2"]]},{"id":"431a51f0.7533c","type":"ui_text","z":"81ad6a52.8e0718","group":"342505e1.bbbe5a","order":1,"width":0,"height":0,"name":"","label":"date","format":"{{msg.payload}}","layout":"row-spread","x":865.9545745849609,"y":515.8522644042969,"wires":[]},{"id":"a86af900.d64c28","type":"ui_text","z":"81ad6a52.8e0718","group":"342505e1.bbbe5a","order":2,"width":0,"height":0,"name":"","label":"code","format":"{{msg.payload}}","layout":"row-spread","x":863.9545745849609,"y":554.8522644042969,"wires":[]},{"id":"bd1d98b5.5f53d8","type":"split","z":"81ad6a52.8e0718","name":"code","splt":"/","x":728.0994720458984,"y":553.9090576171875,"wires":[["a86af900.d64c28"]]},{"id":"2e8cb3e.0d19d4c","type":"split","z":"81ad6a52.8e0718","name":"date","splt":"!","x":727.0994720458984,"y":515.9090576171875,"wires":[["431a51f0.7533c"]]},{"id":"93c5d960.f46508","type":"split","z":"81ad6a52.8e0718","name":"code","splt":";","x":726.0994720458984,"y":591,"wires":[["a51a9dc4.67baa"]]},{"id":"a51a9dc4.67baa","type":"ui_text","z":"81ad6a52.8e0718","group":"342505e1.bbbe5a","order":3,"width":0,"height":0,"name":"","label":"worker","format":"{{msg.payload}}","layout":"row-spread","x":862.0994720458984,"y":593,"wires":[]},{"id":"c940beb.d3d8d4","type":"ui_chart","z":"81ad6a52.8e0718","name":"","group":"342505e1.bbbe5a","order":0,"width":0,"height":0,"label":"ACTIVITY","chartType":"line","legend":"false","xformat":"%H:%M","interpolate":"step-after","nodata":"","ymin":"0","ymax":"1","removeOlder":"2","removeOlderUnit":"3600","x":857.9630584716797,"y":631.5625,"wires":[[],[]]},{"id":"293c2d2.63161d2","type":"split","z":"81ad6a52.8e0718","name":"code","splt":"$","x":724.0994720458984,"y":627,"wires":[["c940beb.d3d8d4"]]},{"id":"62894b27.f341c4","type":"trigger","z":"81ad6a52.8e0718","op1":"","op2":" ","op1type":"nul","op2type":"str","duration":"100","extend":false,"units":"ms","reset":"","name":"","x":162.95457458496094,"y":388.59375,"wires":[["5865b0e9.1970f"]]},{"id":"418720c1.991d9","type":"tcp out","z":"81ad6a52.8e0718","host":"","port":"6616","beserver":"server","base64":false,"end":false,"name":"","x":407.00006103515625,"y":456,"wires":[]},{"id":"bf57f63f.e99c38","type":"tcp in","z":"81ad6a52.8e0718","name":"","server":"server","host":"","port":"6716","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":135.00006103515625,"y":550,"wires":[["8ddbe68d.13fdb8"]]},{"id":"59001f59.fc866","type":"ui_text_input","z":"81ad6a52.8e0718","name":"","label":"MESSAGE","group":"6f6aabc5.2920e4","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":147.00003051757812,"y":779,"wires":[["9f75d7db.c1def8","f22d4465.59f0c8"]]},{"id":"ec4cd3.e9b0f33","type":"function","z":"81ad6a52.8e0718","name":"decode","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":313.9631042480469,"y":864.7016906738281,"wires":[["468fd0c6.08f69"]]},{"id":"468fd0c6.08f69","type":"split","z":"81ad6a52.8e0718","name":"","splt":"*","x":449.96311950683594,"y":862.3948669433594,"wires":[["57ee9a28.f3da54"]]},{"id":"57ee9a28.f3da54","type":"switch","z":"81ad6a52.8e0718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!","vt":"str"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":";","vt":"str"},{"t":"cont","v":"$","vt":"str"}],"checkall":"true","outputs":4,"x":572.9630889892578,"y":864.946044921875,"wires":[["ba965188.4bce7"],["b8b6582d.2db4b8"],["9e84e0b1.352d7"],["b3136002.6742b"]]},{"id":"f10873c7.76aab","type":"ui_text","z":"81ad6a52.8e0718","group":"6f6aabc5.2920e4","order":1,"width":0,"height":0,"name":"","label":"date","format":"{{msg.payload}}","layout":"row-spread","x":848.9545745849609,"y":816.8522644042969,"wires":[]},{"id":"c37a8970.013a98","type":"ui_text","z":"81ad6a52.8e0718","group":"6f6aabc5.2920e4","order":2,"width":0,"height":0,"name":"","label":"code","format":"{{msg.payload}}","layout":"row-spread","x":846.9545745849609,"y":855.8522644042969,"wires":[]},{"id":"b8b6582d.2db4b8","type":"split","z":"81ad6a52.8e0718","name":"code","splt":"/","x":711.0994720458984,"y":854.9090576171875,"wires":[["c37a8970.013a98"]]},{"id":"ba965188.4bce7","type":"split","z":"81ad6a52.8e0718","name":"date","splt":"!","x":710.0994720458984,"y":816.9090576171875,"wires":[["f10873c7.76aab"]]},{"id":"9e84e0b1.352d7","type":"split","z":"81ad6a52.8e0718","name":"code","splt":";","x":709.0994720458984,"y":892,"wires":[["16e46d1c.f79733"]]},{"id":"16e46d1c.f79733","type":"ui_text","z":"81ad6a52.8e0718","group":"6f6aabc5.2920e4","order":3,"width":0,"height":0,"name":"","label":"worker","format":"{{msg.payload}}","layout":"row-spread","x":845.0994720458984,"y":894,"wires":[]},{"id":"c561212f.d5413","type":"ui_chart","z":"81ad6a52.8e0718","name":"","group":"6f6aabc5.2920e4","order":0,"width":0,"height":0,"label":"ACTIVITY","chartType":"line","legend":"false","xformat":"%H:%M","interpolate":"step-after","nodata":"","ymin":"0","ymax":"1","removeOlder":"2","removeOlderUnit":"3600","x":840.9630584716797,"y":932.5625,"wires":[[],[]]},{"id":"b3136002.6742b","type":"split","z":"81ad6a52.8e0718","name":"code","splt":"$","x":707.0994720458984,"y":928,"wires":[["c561212f.d5413"]]},{"id":"9f75d7db.c1def8","type":"trigger","z":"81ad6a52.8e0718","op1":"","op2":" ","op1type":"nul","op2type":"str","duration":"100","extend":false,"units":"ms","reset":"","name":"","x":145.95457458496094,"y":689.59375,"wires":[["59001f59.fc866"]]},{"id":"f22d4465.59f0c8","type":"tcp out","z":"81ad6a52.8e0718","host":"","port":"6626","beserver":"server","base64":false,"end":false,"name":"","x":390.00006103515625,"y":757,"wires":[]},{"id":"e4f2e0d7.23aab","type":"tcp in","z":"81ad6a52.8e0718","name":"","server":"server","host":"","port":"6726","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":118.00006103515625,"y":851,"wires":[["ec4cd3.e9b0f33"]]},{"id":"882dcbf6.c17de8","type":"tcp in","z":"81ad6a52.8e0718","name":"","server":"server","host":"","port":"5556","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":1708.9998626708984,"y":2992.0001525878906,"wires":[["3a2725f.f5458da"]]},{"id":"3a2725f.f5458da","type":"function","z":"81ad6a52.8e0718","name":"decode","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":1900.9998626708984,"y":2993.0001525878906,"wires":[["230ae0b0.5b3e1"]]},{"id":"230ae0b0.5b3e1","type":"split","z":"81ad6a52.8e0718","name":"","splt":"*","x":2036.9998779296875,"y":2990.693328857422,"wires":[["88701cab.a914"]]},{"id":"88701cab.a914","type":"switch","z":"81ad6a52.8e0718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"-","vt":"str"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"!","vt":"str"}],"checkall":"true","outputs":3,"x":2159.9998474121094,"y":2993.2445068359375,"wires":[["15030323.63067d"],["b4456d7.88fcf9"],["99bd6f23.4d2"]]},{"id":"b4456d7.88fcf9","type":"split","z":"81ad6a52.8e0718","name":"rem_time","splt":"/","x":2308.13623046875,"y":2983.20751953125,"wires":[["67a9b0ca.5ddc2"]]},{"id":"15030323.63067d","type":"split","z":"81ad6a52.8e0718","name":"status","splt":"-","x":2297.13623046875,"y":2945.20751953125,"wires":[["c9e7ef68.60c47"]]},{"id":"99bd6f23.4d2","type":"split","z":"81ad6a52.8e0718","name":"set_time","splt":"!","x":2306.13623046875,"y":3020.2984619140625,"wires":[["51e624dc.3a51ac"]]},{"id":"c9e7ef68.60c47","type":"ui_text","z":"81ad6a52.8e0718","group":"4c2c1fa2.13107","order":0,"width":"5","height":"1","name":"","label":"STATUS","format":"{{msg.payload}}","layout":"row-spread","x":2438.9998626708984,"y":2944.0001525878906,"wires":[]},{"id":"67a9b0ca.5ddc2","type":"ui_gauge","z":"81ad6a52.8e0718","name":"","group":"4c2c1fa2.13107","order":0,"width":0,"height":0,"gtype":"gage","title":"REMAINING TIME","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"x":2448.9998626708984,"y":2988.0001525878906,"wires":[]},{"id":"51e624dc.3a51ac","type":"ui_text","z":"81ad6a52.8e0718","group":"4c2c1fa2.13107","order":0,"width":"5","height":"1","name":"","label":"SET TIME","format":"{{msg.payload}}","layout":"row-spread","x":2461.9998626708984,"y":3032.0001525878906,"wires":[]},{"id":"ae52e7a5.9ed3d8","type":"tcp in","z":"81ad6a52.8e0718","name":"","server":"server","host":"","port":"9001","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":1544,"y":172,"wires":[["1456c61a.c9727a"]]},{"id":"1456c61a.c9727a","type":"function","z":"81ad6a52.8e0718","name":"decode","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":1706,"y":173,"wires":[["49469a36.5bfd94"]]},{"id":"334e92d2.3ea27e","type":"ui_chart","z":"81ad6a52.8e0718","name":"chartT1","group":"7ecd96d2.13fca8","order":3,"width":"0","height":"0","label":"TEMPERATURE","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"0","ymax":"35","removeOlder":"24","removeOlderUnit":"3600","x":2345,"y":80,"wires":[[],[]]},{"id":"6b06dde5.c80274","type":"ui_chart","z":"81ad6a52.8e0718","name":"chartH1","group":"7ecd96d2.13fca8","order":5,"width":"0","height":"0","label":"HUMINIDY","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"24","removeOlderUnit":"3600","x":2352,"y":168,"wires":[[],[]]},{"id":"66057463.dbfecc","type":"ui_text","z":"81ad6a52.8e0718","group":"7ecd96d2.13fca8","order":2,"width":"0","height":"0","name":"T1","label":"","format":"{{msg.payload}} C","layout":"col-center","x":2332,"y":124,"wires":[]},{"id":"3d77be52.db2d02","type":"ui_text","z":"81ad6a52.8e0718","group":"7ecd96d2.13fca8","order":4,"width":"0","height":"0","name":"H1","label":"","format":"{{msg.payload}} %","layout":"col-center","x":2341,"y":221,"wires":[]},{"id":"49469a36.5bfd94","type":"split","z":"81ad6a52.8e0718","name":"","splt":"/","x":1862,"y":173,"wires":[["797e1a18.a7b184"]]},{"id":"797e1a18.a7b184","type":"switch","z":"81ad6a52.8e0718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"T","vt":"str"},{"t":"cont","v":"H","vt":"str"}],"checkall":"true","outputs":2,"x":2012,"y":170,"wires":[["357075fe.471c2a"],["b698460a.f89168"]]},{"id":"357075fe.471c2a","type":"split","z":"81ad6a52.8e0718","name":"remove_T","splt":"T","x":2170,"y":132,"wires":[["334e92d2.3ea27e","66057463.dbfecc"]]},{"id":"b698460a.f89168","type":"split","z":"81ad6a52.8e0718","name":"remove_H","splt":"H","x":2181,"y":198,"wires":[["6b06dde5.c80274","3d77be52.db2d02"]]},{"id":"dc6ef60e.a33668","type":"tcp out","z":"81ad6a52.8e0718","host":"87.207.0.100","port":"5432","beserver":"client","base64":false,"end":false,"name":"","x":1856,"y":3415,"wires":[]},{"id":"1896a172.189e1f","type":"ui_button","z":"81ad6a52.8e0718","name":"","group":"9b808be2.9dd7f8","order":0,"width":0,"height":0,"label":"SEND 0","color":"","icon":"","payload":"A0T0E","payloadType":"str","topic":"","x":1526,"y":3315,"wires":[["dc6ef60e.a33668"]]},{"id":"58b5cced.3eb644","type":"ui_button","z":"81ad6a52.8e0718","name":"","group":"9b808be2.9dd7f8","order":0,"width":0,"height":0,"label":"SET 1","color":"","icon":"","payload":"A0T1E","payloadType":"str","topic":"","x":1483,"y":3369,"wires":[["dc6ef60e.a33668"]]},{"id":"69818228.ad71cc","type":"ui_button","z":"81ad6a52.8e0718","name":"","group":"9b808be2.9dd7f8","order":0,"width":0,"height":0,"label":"SET 2","color":"","icon":"","payload":"A0T2E","payloadType":"str","topic":"","x":1434,"y":3434,"wires":[["dc6ef60e.a33668"]]},{"id":"6b72c0da.bffee","type":"ui_button","z":"81ad6a52.8e0718","name":"","group":"9b808be2.9dd7f8","order":0,"width":0,"height":0,"label":"SET 3","color":"","icon":"","payload":"A0T4E","payloadType":"str","topic":"","x":1399,"y":3507,"wires":[["dc6ef60e.a33668"]]},{"id":"7c43c90c.98bfe8","type":"ui_button","z":"81ad6a52.8e0718","name":"","group":"9b808be2.9dd7f8","order":0,"width":0,"height":0,"label":"SET 4","color":"","icon":"","payload":"A0T8E","payloadType":"str","topic":"","x":1401,"y":3572,"wires":[["dc6ef60e.a33668"]]},{"id":"1a5b41eb.5e310e","type":"ui_button","z":"81ad6a52.8e0718","name":"","group":"9b808be2.9dd7f8","order":0,"width":0,"height":0,"label":"SET 5","color":"","icon":"","payload":"AOT16E","payloadType":"str","topic":"","x":1383,"y":3622,"wires":[["dc6ef60e.a33668"]]},{"id":"841dddb7.cf997","type":"ui_button","z":"81ad6a52.8e0718","name":"","group":"9b808be2.9dd7f8","order":0,"width":0,"height":0,"label":"SET 6","color":"","icon":"","payload":"A0T32E","payloadType":"str","topic":"","x":1398,"y":3683,"wires":[["dc6ef60e.a33668"]]},{"id":"7103894b.b11258","type":"tcp in","z":"81ad6a52.8e0718","name":"","server":"server","host":"","port":"9005","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":1534,"y":1035,"wires":[["ab1705d2.32ddd8"]]},{"id":"5dc4d758.56e598","type":"tcp in","z":"81ad6a52.8e0718","name":"","server":"server","host":"","port":"9004","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":1524,"y":829,"wires":[["b44df1f8.7e634"]]},{"id":"f438a60a.0ff258","type":"tcp in","z":"81ad6a52.8e0718","name":"","server":"server","host":"","port":"9003","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":1531,"y":609,"wires":[["daaf2521.413b58"]]},{"id":"63990c61.3f33b4","type":"tcp in","z":"81ad6a52.8e0718","name":"","server":"server","host":"","port":"9002","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":1548,"y":389,"wires":[["ca10d3d.0aa3f3"]]},{"id":"ca10d3d.0aa3f3","type":"function","z":"81ad6a52.8e0718","name":"decode","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":1708.765625,"y":387,"wires":[["48fe74a1.cb2acc"]]},{"id":"7a6eac71.17e674","type":"ui_chart","z":"81ad6a52.8e0718","name":"chartT2","group":"b1d8ae85.4b838","order":3,"width":"0","height":"0","label":"TEMPERATURE","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"0","ymax":"35","removeOlder":"24","removeOlderUnit":"3600","x":2340.765625,"y":280,"wires":[[],[]]},{"id":"1fe3d6e9.f71189","type":"ui_chart","z":"81ad6a52.8e0718","name":"chartH2","group":"b1d8ae85.4b838","order":5,"width":"0","height":"0","label":"HUMINIDY","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"24","removeOlderUnit":"3600","x":2354.765625,"y":382,"wires":[[],[]]},{"id":"89e89fbe.13114","type":"ui_text","z":"81ad6a52.8e0718","group":"b1d8ae85.4b838","order":2,"width":"0","height":"0","name":"T2","label":"","format":"{{msg.payload}} C","layout":"col-center","x":2334.765625,"y":338,"wires":[]},{"id":"e59fa8ee.05bbe8","type":"ui_text","z":"81ad6a52.8e0718","group":"b1d8ae85.4b838","order":4,"width":"0","height":"0","name":"H2","label":"","format":"{{msg.payload}} %","layout":"col-center","x":2343.765625,"y":435,"wires":[]},{"id":"48fe74a1.cb2acc","type":"split","z":"81ad6a52.8e0718","name":"","splt":"/","x":1864.765625,"y":387,"wires":[["d3f9b720.ef0f08"]]},{"id":"d3f9b720.ef0f08","type":"switch","z":"81ad6a52.8e0718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"T","vt":"str"},{"t":"cont","v":"H","vt":"str"}],"checkall":"true","outputs":2,"x":2014.765625,"y":384,"wires":[["56eaf58f.b7075c"],["ce760095.13272"]]},{"id":"56eaf58f.b7075c","type":"split","z":"81ad6a52.8e0718","name":"remove_T","splt":"T","x":2172.765625,"y":346,"wires":[["7a6eac71.17e674","89e89fbe.13114"]]},{"id":"ce760095.13272","type":"split","z":"81ad6a52.8e0718","name":"remove_H","splt":"H","x":2183.765625,"y":412,"wires":[["1fe3d6e9.f71189","e59fa8ee.05bbe8"]]},{"id":"daaf2521.413b58","type":"function","z":"81ad6a52.8e0718","name":"decode","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":1710.765625,"y":606.75,"wires":[["ba6f3fe1.a0342"]]},{"id":"704ab9bd.032d08","type":"ui_chart","z":"81ad6a52.8e0718","name":"chartT3","group":"99e5bd06.e7082","order":3,"width":"0","height":"0","label":"TEMPERATURE","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"0","ymax":"35","removeOlder":"24","removeOlderUnit":"3600","x":2342.765625,"y":499.75,"wires":[[],[]]},{"id":"fb652d6e.0f7f4","type":"ui_chart","z":"81ad6a52.8e0718","name":"chartH3","group":"99e5bd06.e7082","order":5,"width":"0","height":"0","label":"HUMINIDY","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"24","removeOlderUnit":"3600","x":2356.765625,"y":601.75,"wires":[[],[]]},{"id":"2742acc2.e22014","type":"ui_text","z":"81ad6a52.8e0718","group":"99e5bd06.e7082","order":2,"width":"0","height":"0","name":"T3","label":"","format":"{{msg.payload}} C","layout":"col-center","x":2336.765625,"y":557.75,"wires":[]},{"id":"d2fc4d59.06ea","type":"ui_text","z":"81ad6a52.8e0718","group":"99e5bd06.e7082","order":4,"width":"0","height":"0","name":"H3","label":"","format":"{{msg.payload}} %","layout":"col-center","x":2345.765625,"y":654.75,"wires":[]},{"id":"ba6f3fe1.a0342","type":"split","z":"81ad6a52.8e0718","name":"","splt":"/","x":1866.765625,"y":606.75,"wires":[["7b94b5cc.63264c"]]},{"id":"7b94b5cc.63264c","type":"switch","z":"81ad6a52.8e0718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"T","vt":"str"},{"t":"cont","v":"H","vt":"str"}],"checkall":"true","outputs":2,"x":2016.765625,"y":603.75,"wires":[["e77eedb0.3078d"],["b608df99.52f8"]]},{"id":"e77eedb0.3078d","type":"split","z":"81ad6a52.8e0718","name":"remove_T","splt":"T","x":2174.765625,"y":565.75,"wires":[["704ab9bd.032d08","2742acc2.e22014"]]},{"id":"b608df99.52f8","type":"split","z":"81ad6a52.8e0718","name":"remove_H","splt":"H","x":2185.765625,"y":631.75,"wires":[["fb652d6e.0f7f4","d2fc4d59.06ea"]]},{"id":"b44df1f8.7e634","type":"function","z":"81ad6a52.8e0718","name":"decode","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":1719.765625,"y":822.75,"wires":[["9684ab7e.f42788"]]},{"id":"c9825934.079dd8","type":"ui_chart","z":"81ad6a52.8e0718","name":"chartT4","group":"f00c4d.338d83b","order":3,"width":"0","height":"0","label":"TEMPERATURE","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"0","ymax":"35","removeOlder":"24","removeOlderUnit":"3600","x":2351.765625,"y":715.75,"wires":[[],[]]},{"id":"7ee94cd1.fcc064","type":"ui_chart","z":"81ad6a52.8e0718","name":"chartH4","group":"f00c4d.338d83b","order":5,"width":"0","height":"0","label":"HUMINIDY","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"24","removeOlderUnit":"3600","x":2365.765625,"y":817.75,"wires":[[],[]]},{"id":"385a561.05581aa","type":"ui_text","z":"81ad6a52.8e0718","group":"f00c4d.338d83b","order":2,"width":"0","height":"0","name":"T4","label":"","format":"{{msg.payload}} C","layout":"col-center","x":2345.765625,"y":773.75,"wires":[]},{"id":"dbdd3b2a.abea18","type":"ui_text","z":"81ad6a52.8e0718","group":"f00c4d.338d83b","order":4,"width":"0","height":"0","name":"H4","label":"","format":"{{msg.payload}} %","layout":"col-center","x":2354.765625,"y":870.75,"wires":[]},{"id":"9684ab7e.f42788","type":"split","z":"81ad6a52.8e0718","name":"","splt":"/","x":1875.765625,"y":822.75,"wires":[["1f456fd2.e5de8"]]},{"id":"1f456fd2.e5de8","type":"switch","z":"81ad6a52.8e0718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"T","vt":"str"},{"t":"cont","v":"H","vt":"str"}],"checkall":"true","outputs":2,"x":2025.765625,"y":819.75,"wires":[["99fc1bdc.4b8bd8"],["1dcfeac4.320bc5"]]},{"id":"99fc1bdc.4b8bd8","type":"split","z":"81ad6a52.8e0718","name":"remove_T","splt":"T","x":2183.765625,"y":781.75,"wires":[["c9825934.079dd8","385a561.05581aa"]]},{"id":"1dcfeac4.320bc5","type":"split","z":"81ad6a52.8e0718","name":"remove_H","splt":"H","x":2194.765625,"y":847.75,"wires":[["7ee94cd1.fcc064","dbdd3b2a.abea18"]]},{"id":"ab1705d2.32ddd8","type":"function","z":"81ad6a52.8e0718","name":"decode","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":1729.765625,"y":1037.75,"wires":[["25162575.27194a"]]},{"id":"2abd5ce8.402114","type":"ui_chart","z":"81ad6a52.8e0718","name":"chartT5","group":"6e9353f2.ce5e0c","order":3,"width":"0","height":"0","label":"TEMPERATURE","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"0","ymax":"35","removeOlder":"24","removeOlderUnit":"3600","x":2361.765625,"y":930.75,"wires":[[],[]]},{"id":"dcd91367.ed84a","type":"ui_chart","z":"81ad6a52.8e0718","name":"chartH5","group":"6e9353f2.ce5e0c","order":5,"width":"0","height":"0","label":"HUMINIDY","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"24","removeOlderUnit":"3600","x":2375.765625,"y":1032.75,"wires":[[],[]]},{"id":"8d61a92c.25a858","type":"ui_text","z":"81ad6a52.8e0718","group":"6e9353f2.ce5e0c","order":2,"width":"0","height":"0","name":"T5","label":"","format":"{{msg.payload}} C","layout":"col-center","x":2355.765625,"y":988.75,"wires":[]},{"id":"70462e7a.ed0a","type":"ui_text","z":"81ad6a52.8e0718","group":"6e9353f2.ce5e0c","order":4,"width":"0","height":"0","name":"H5","label":"","format":"{{msg.payload}} %","layout":"col-center","x":2364.765625,"y":1085.75,"wires":[]},{"id":"25162575.27194a","type":"split","z":"81ad6a52.8e0718","name":"","splt":"/","x":1885.765625,"y":1037.75,"wires":[["6298dacd.245344"]]},{"id":"6298dacd.245344","type":"switch","z":"81ad6a52.8e0718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"T","vt":"str"},{"t":"cont","v":"H","vt":"str"}],"checkall":"true","outputs":2,"x":2035.765625,"y":1034.75,"wires":[["c0b51f79.e69cf"],["d2035d18.97515"]]},{"id":"c0b51f79.e69cf","type":"split","z":"81ad6a52.8e0718","name":"remove_T","splt":"T","x":2193.765625,"y":996.75,"wires":[["2abd5ce8.402114","8d61a92c.25a858"]]},{"id":"d2035d18.97515","type":"split","z":"81ad6a52.8e0718","name":"remove_H","splt":"H","x":2204.765625,"y":1062.75,"wires":[["dcd91367.ed84a","70462e7a.ed0a"]]},{"id":"7f000a3c.0eebc4","type":"ui_text","z":"81ad6a52.8e0718","group":"7ecd96d2.13fca8","order":1,"width":"6","height":"1","name":"NAME1","label":"","format":"<font size=\"5\" color=\"white\">SUB ROOM 10</font>","layout":"row-center","x":1538.7421875,"y":123.703125,"wires":[]},{"id":"e0aa58ce.f1d808","type":"ui_text","z":"81ad6a52.8e0718","group":"b1d8ae85.4b838","order":1,"width":"6","height":"1","name":"NAME1","label":"","format":"<font size=\"5\" color=\"white\">PRESS ROOM 01</font>","layout":"row-center","x":1548.5078125,"y":334.0234375,"wires":[]},{"id":"d6852514.b70308","type":"ui_text","z":"81ad6a52.8e0718","group":"99e5bd06.e7082","order":1,"width":"6","height":"1","name":"NAME1","label":"","format":"<font size=\"5\" color=\"white\">CNC ROOM 02</font>","layout":"row-center","x":1529.5078125,"y":559.0234375,"wires":[]},{"id":"73f86500.f99c6c","type":"ui_text","z":"81ad6a52.8e0718","group":"f00c4d.338d83b","order":1,"width":"6","height":"1","name":"NAME1","label":"","format":"<font size=\"5\" color=\"white\">SAND ROOM 03</font>","layout":"row-center","x":1526.5078125,"y":771.0234375,"wires":[]},{"id":"ff7adb3d.262cd8","type":"ui_text","z":"81ad6a52.8e0718","group":"6e9353f2.ce5e0c","order":1,"width":"6","height":"1","name":"NAME1","label":"","format":"<font size=\"5\" color=\"white\">LAGGING ROOM 00</font>","layout":"row-center","x":1547.5078125,"y":976.0234375,"wires":[]},{"id":"3c85a0b7.e140b","type":"ui_text_input","z":"81ad6a52.8e0718","name":"","label":"MESSAGE","group":"3917de0.2831e22","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":133.99996948242188,"y":1074.9609375,"wires":[["25c17ae7.bf3c96","6b7600ff.8a02b"]]},{"id":"5b40c898.55a6d8","type":"function","z":"81ad6a52.8e0718","name":"decode","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":300.9630432128906,"y":1160.6626281738281,"wires":[["4392fd1.5e39104"]]},{"id":"4392fd1.5e39104","type":"split","z":"81ad6a52.8e0718","name":"","splt":"*","x":436.9630584716797,"y":1158.3558044433594,"wires":[["221f430e.2584cc"]]},{"id":"221f430e.2584cc","type":"switch","z":"81ad6a52.8e0718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!","vt":"str"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":";","vt":"str"},{"t":"cont","v":"$","vt":"str"}],"checkall":"true","outputs":4,"x":559.9630279541016,"y":1160.906982421875,"wires":[["88897559.ea6d98"],["a580021f.59462"],["b69d5855.6dca88"],["38ddb779.a63588"]]},{"id":"dd537188.01b8d","type":"ui_text","z":"81ad6a52.8e0718","group":"3917de0.2831e22","order":1,"width":0,"height":0,"name":"","label":"date","format":"{{msg.payload}}","layout":"row-spread","x":835.9545135498047,"y":1112.8132019042969,"wires":[]},{"id":"ee11591d.c12a98","type":"ui_text","z":"81ad6a52.8e0718","group":"3917de0.2831e22","order":2,"width":0,"height":0,"name":"","label":"code","format":"{{msg.payload}}","layout":"row-spread","x":833.9545135498047,"y":1151.8132019042969,"wires":[]},{"id":"a580021f.59462","type":"split","z":"81ad6a52.8e0718","name":"code","splt":"/","x":698.0994110107422,"y":1150.8699951171875,"wires":[["ee11591d.c12a98"]]},{"id":"88897559.ea6d98","type":"split","z":"81ad6a52.8e0718","name":"date","splt":"!","x":697.0994110107422,"y":1112.8699951171875,"wires":[["dd537188.01b8d"]]},{"id":"b69d5855.6dca88","type":"split","z":"81ad6a52.8e0718","name":"code","splt":";","x":696.0994110107422,"y":1187.9609375,"wires":[["91f858b3.6a8d18"]]},{"id":"91f858b3.6a8d18","type":"ui_text","z":"81ad6a52.8e0718","group":"3917de0.2831e22","order":3,"width":0,"height":0,"name":"","label":"worker","format":"{{msg.payload}}","layout":"row-spread","x":832.0994110107422,"y":1189.9609375,"wires":[]},{"id":"88af98d5.a7d078","type":"ui_chart","z":"81ad6a52.8e0718","name":"","group":"3917de0.2831e22","order":0,"width":0,"height":0,"label":"ACTIVITY","chartType":"line","legend":"false","xformat":"%H:%M","interpolate":"step-after","nodata":"","ymin":"0","ymax":"1","removeOlder":"2","removeOlderUnit":"3600","x":827.9629974365234,"y":1228.5234375,"wires":[[],[]]},{"id":"38ddb779.a63588","type":"split","z":"81ad6a52.8e0718","name":"code","splt":"$","x":694.0994110107422,"y":1223.9609375,"wires":[["88af98d5.a7d078"]]},{"id":"25c17ae7.bf3c96","type":"trigger","z":"81ad6a52.8e0718","op1":"","op2":" ","op1type":"nul","op2type":"str","duration":"100","extend":false,"units":"ms","reset":"","name":"","x":132.9545135498047,"y":985.5546875,"wires":[["3c85a0b7.e140b"]]},{"id":"6b7600ff.8a02b","type":"tcp out","z":"81ad6a52.8e0718","host":"","port":"6636","beserver":"server","base64":false,"end":false,"name":"","x":377,"y":1052.9609375,"wires":[]},{"id":"a347ed48.41c5c","type":"tcp in","z":"81ad6a52.8e0718","name":"","server":"server","host":"","port":"6736","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":105,"y":1146.9609375,"wires":[["5b40c898.55a6d8"]]},{"id":"423fdf3f.8d7b6","type":"ui_text_input","z":"81ad6a52.8e0718","name":"","label":"MESSAGE","group":"2a83608c.6e584","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":135.765625,"y":1364.75,"wires":[["a191ec61.96472","b28ea2de.fab4"]]},{"id":"43abb0a8.a0e41","type":"function","z":"81ad6a52.8e0718","name":"decode","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":302.72869873046875,"y":1450.4516906738281,"wires":[["bb884174.6d795"]]},{"id":"bb884174.6d795","type":"split","z":"81ad6a52.8e0718","name":"","splt":"*","x":438.7287139892578,"y":1448.1448669433594,"wires":[["5a847c36.37b3a4"]]},{"id":"5a847c36.37b3a4","type":"switch","z":"81ad6a52.8e0718","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!","vt":"str"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":";","vt":"str"},{"t":"cont","v":"$","vt":"str"}],"checkall":"true","outputs":4,"x":561.7286834716797,"y":1450.696044921875,"wires":[["3f0b6d14.e96d12"],["b138c62d.121f38"],["46d60776.08e1c8"],["3df7d2fe.59287e"]]},{"id":"c8aebc59.f000d","type":"ui_text","z":"81ad6a52.8e0718","group":"2a83608c.6e584","order":1,"width":0,"height":0,"name":"","label":"date","format":"{{msg.payload}}","layout":"row-spread","x":837.7201690673828,"y":1402.6022644042969,"wires":[]},{"id":"4a031d3d.25e1e4","type":"ui_text","z":"81ad6a52.8e0718","group":"2a83608c.6e584","order":2,"width":0,"height":0,"name":"","label":"code","format":"{{msg.payload}}","layout":"row-spread","x":835.7201690673828,"y":1441.6022644042969,"wires":[]},{"id":"b138c62d.121f38","type":"split","z":"81ad6a52.8e0718","name":"code","splt":"/","x":699.8650665283203,"y":1440.6590576171875,"wires":[["4a031d3d.25e1e4"]]},{"id":"3f0b6d14.e96d12","type":"split","z":"81ad6a52.8e0718","name":"date","splt":"!","x":698.8650665283203,"y":1402.6590576171875,"wires":[["c8aebc59.f000d"]]},{"id":"46d60776.08e1c8","type":"split","z":"81ad6a52.8e0718","name":"code","splt":";","x":697.8650665283203,"y":1477.75,"wires":[["5694346e.cdddcc"]]},{"id":"5694346e.cdddcc","type":"ui_text","z":"81ad6a52.8e0718","group":"2a83608c.6e584","order":3,"width":0,"height":0,"name":"","label":"worker","format":"{{msg.payload}}","layout":"row-spread","x":833.8650665283203,"y":1479.75,"wires":[]},{"id":"d7817c9.d3aea8","type":"ui_chart","z":"81ad6a52.8e0718","name":"","group":"2a83608c.6e584","order":0,"width":0,"height":0,"label":"ACTIVITY","chartType":"line","legend":"false","xformat":"%H:%M","interpolate":"step-after","nodata":"","ymin":"0","ymax":"1","removeOlder":"2","removeOlderUnit":"3600","x":829.7286529541016,"y":1518.3125,"wires":[[],[]]},{"id":"3df7d2fe.59287e","type":"split","z":"81ad6a52.8e0718","name":"code","splt":"$","x":695.8650665283203,"y":1513.75,"wires":[["d7817c9.d3aea8"]]},{"id":"a191ec61.96472","type":"trigger","z":"81ad6a52.8e0718","op1":"","op2":" ","op1type":"nul","op2type":"str","duration":"100","extend":false,"units":"ms","reset":"","name":"","x":134.7201690673828,"y":1275.34375,"wires":[["423fdf3f.8d7b6"]]},{"id":"b28ea2de.fab4","type":"tcp out","z":"81ad6a52.8e0718","host":"","port":"6646","beserver":"server","base64":false,"end":false,"name":"","x":378.7656555175781,"y":1342.75,"wires":[]},{"id":"6c6b8a72.0776c4","type":"tcp in","z":"81ad6a52.8e0718","name":"","server":"server","host":"","port":"6746","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":106.76565551757812,"y":1436.75,"wires":[["43abb0a8.a0e41"]]},{"id":"bd7dc569.2b9138","type":"ui_group","z":"","name":"--00 PREPARING-ROOM--","tab":"21a9ec44.68dc04","order":1,"disp":true,"width":"5"},{"id":"342505e1.bbbe5a","type":"ui_group","z":"","name":"--01 PRESSING--ROOM--","tab":"21a9ec44.68dc04","order":2,"disp":true,"width":"5"},{"id":"6f6aabc5.2920e4","type":"ui_group","z":"","name":"--02 CUTTING---ROOM--","tab":"21a9ec44.68dc04","order":3,"disp":true,"width":"5"},{"id":"4c2c1fa2.13107","type":"ui_group","z":"","name":"SUB PRESS","tab":"345054d9.910cfc","order":1,"disp":true,"width":"3"},{"id":"7ecd96d2.13fca8","type":"ui_group","z":"","name":"SUB ROOM 10","tab":"87a90fa4.74c95","order":1,"disp":false,"width":"6"},{"id":"9b808be2.9dd7f8","type":"ui_group","z":"","name":"RELAY TEST","tab":"345054d9.910cfc","order":2,"disp":true,"width":"6"},{"id":"b1d8ae85.4b838","type":"ui_group","z":"","name":"PRESSING ROOM 01","tab":"87a90fa4.74c95","order":2,"disp":false,"width":"6"},{"id":"99e5bd06.e7082","type":"ui_group","z":"","name":"CUTTING ROOM 02","tab":"87a90fa4.74c95","order":3,"disp":false,"width":"6"},{"id":"f00c4d.338d83b","type":"ui_group","z":"","name":"SANDING ROOM 03","tab":"87a90fa4.74c95","order":4,"disp":false,"width":"6"},{"id":"6e9353f2.ce5e0c","type":"ui_group","z":"","name":"LAGGING ROOM 01","tab":"87a90fa4.74c95","order":5,"disp":false,"width":"6"},{"id":"3917de0.2831e22","type":"ui_group","z":"","name":"--03 SANDING-ROOM--","tab":"21a9ec44.68dc04","order":4,"disp":true,"width":"5"},{"id":"2a83608c.6e584","type":"ui_group","z":"","name":"--04 FINISHING-ROOM--","tab":"21a9ec44.68dc04","order":5,"disp":true,"width":"5"},{"id":"21a9ec44.68dc04","type":"ui_tab","z":"","name":"PRODUCTION","icon":"dashboard","order":1},{"id":"345054d9.910cfc","type":"ui_tab","z":"","name":"MACHINES","icon":"dashboard","order":2},{"id":"87a90fa4.74c95","type":"ui_tab","z":"","name":"ALTERNATIVE COMPANY","icon":"dashboard","order":1}]