DOCS/[NODE_RED_WORKFLOW]orders.txt
[{"id":"c0cab883.b2f8c8","type":"mongodb in","z":"9b6add0a.026e8","mongodb":"5670de04.04298","name":"find","collection":"stock_count","operation":"find","x":3930,"y":600,"wires":[["7bd6be9.efb444"]]},{"id":"fa30be2e.5259a","type":"inject","z":"9b6add0a.026e8","name":"","topic":"","payload":"00","payloadType":"str","repeat":"360","crontab":"","once":true,"x":3930,"y":720,"wires":[["7083a63.ef61758"]]},{"id":"7083a63.ef61758","type":"function","z":"9b6add0a.026e8","name":"Convert","func":"// MongoDB requires payload wrapped into object \nmsg.payload =   {   $or: [\n                    {\"board00\":{ $gt:0 }},\n                    {\"board01\":{ $gt:0 }},\n                    {\"board02\":{ $gt:0 }},\n                    {\"board03\":{ $gt:0 }},\n                    {\"board04\":{ $gt:0 }},\n                    {\"board05\":{ $gt:0 }},\n                    {\"board06\":{ $gt:0 }},\n                    {\"board07\":{ $gt:0 }},\n                    {\"board08\":{ $gt:0 }},\n                    {\"board09\":{ $gt:0 }},\n                    {\"board10\":{ $gt:0 }},\n                    {\"board11\":{ $gt:0 }},\n                    {\"board12\":{ $gt:0 }},\n                    {\"board13\":{ $gt:0 }},\n                    {\"board14\":{ $gt:0 }},\n                    {\"board15\":{ $gt:0 }},\n                    {\"board16\":{ $gt:0 }},\n                    {\"board17\":{ $gt:0 }},\n                    {\"board18\":{ $gt:0 }},\n                    {\"board19\":{ $gt:0 }},\n                    {\"board20\":{ $gt:0 }},\n                    {\"board21\":{ $gt:0 }},\n                        ]\n                };\n\nmsg.limit = 10;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":3920,"y":660,"wires":[["c0cab883.b2f8c8"]]},{"id":"54944586.86751c","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":2,"width":0,"height":0,"name":"00 - OSTRICH S","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4830,"y":120,"wires":[]},{"id":"ec732d3a.4959b","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":5,"width":0,"height":0,"name":"01 - OSTRICH M","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4830,"y":160,"wires":[]},{"id":"98809c00.1e5928","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":7,"width":0,"height":0,"name":"02 - JUNKO M","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4820,"y":200,"wires":[]},{"id":"b40b4c0c.7271a","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":9,"width":0,"height":0,"name":"03 - CHAUMA M","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4830,"y":240,"wires":[]},{"id":"aa63f31b.0ad66","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":11,"width":0,"height":0,"name":"04 - CHAUMA W","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4830,"y":280,"wires":[]},{"id":"dd03a3a9.9abc8","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":13,"width":0,"height":0,"name":"05 - BUNTING","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4820,"y":320,"wires":[]},{"id":"310fa1fb.628c0e","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":15,"width":0,"height":0,"name":"06 - WROBEL","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4820,"y":360,"wires":[]},{"id":"db32eb32.4fb608","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":17,"width":0,"height":0,"name":"07 - FLAMINGO M","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4830,"y":400,"wires":[]},{"id":"5d3e559c.92806c","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":19,"width":0,"height":0,"name":"08 - FLAMINGO S","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4830,"y":440,"wires":[]},{"id":"cbd2e8cc.527dd8","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":21,"width":0,"height":0,"name":"09 - FANTAIL","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4820,"y":480,"wires":[]},{"id":"6fc81605.c97478","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":23,"width":0,"height":0,"name":"10 - VERDIN","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4810,"y":520,"wires":[]},{"id":"484622c6.478a5c","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":25,"width":0,"height":0,"name":"11 - STARLING","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4820,"y":560,"wires":[]},{"id":"e25c09ce.231d78","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":27,"width":0,"height":0,"name":"12 - ERGET S","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4820,"y":600,"wires":[]},{"id":"a36d4df3.cc337","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":29,"width":0,"height":0,"name":"13 - ERGET M","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4820,"y":640,"wires":[]},{"id":"1603436f.bc73ed","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":1,"width":0,"height":0,"name":"ORDERS","label":"<font size=\"5\" color=\"red\">ORDERS</font>","format":"{{msg.payload}}","layout":"row-center","x":4800,"y":60,"wires":[]},{"id":"8338e3ad.8fe08","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":2,"width":0,"height":0,"name":"00 - OSTRICH S S","label":"00 - OSTRICH S S","format":"{{msg.payload}}","layout":"row-center","x":3750,"y":120,"wires":[]},{"id":"d2f89949.936d18","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":3,"width":0,"height":0,"name":"01 - OSTRICH M S","label":"01 - OSTRICH M S","format":"{{msg.payload}}","layout":"row-center","x":3750,"y":160,"wires":[]},{"id":"f33d5746.3bfa18","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":4,"width":0,"height":0,"name":"02 - JUNKO M","label":"02 - JUNKO M","format":"{{msg.payload}}","layout":"row-center","x":3760,"y":200,"wires":[]},{"id":"e7b2be75.d9e4d","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":5,"width":0,"height":0,"name":"03 - CHAUMA M S","label":"03 - CHAUMA M S","format":"{{msg.payload}}","layout":"row-center","x":3750,"y":240,"wires":[]},{"id":"5455abc5.671c54","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":6,"width":0,"height":0,"name":"04 - CHAUMA W S","label":"04 - CHAUMA W S","format":"{{msg.payload}}","layout":"row-center","x":3750,"y":280,"wires":[]},{"id":"81551aab.e5ce58","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":7,"width":0,"height":0,"name":"05 - BUNTING","label":"05 - BUNTING","format":"{{msg.payload}}","layout":"row-center","x":3760,"y":320,"wires":[]},{"id":"bc75ced5.025db","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":8,"width":0,"height":0,"name":"06 - WROBEL","label":"06 - WROBEL","format":"{{msg.payload}}","layout":"row-center","x":3760,"y":360,"wires":[]},{"id":"555e362.35e92c8","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":9,"width":0,"height":0,"name":"07 - FLAMINGO M S","label":"07 - FLAMINGO M S","format":"{{msg.payload}}","layout":"row-center","x":3740,"y":400,"wires":[]},{"id":"66ca1bc6.e083b4","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":10,"width":0,"height":0,"name":"08 - FLAMINGO S S","label":"08 - FLAMINGO S S","format":"{{msg.payload}}","layout":"row-center","x":3740,"y":440,"wires":[]},{"id":"b7eba9af.1fad28","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":11,"width":0,"height":0,"name":"09 - FANTAIL","label":"09 - FANTAIL","format":"{{msg.payload}}","layout":"row-center","x":3760,"y":480,"wires":[]},{"id":"862f0e66.fbbea","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":12,"width":0,"height":0,"name":"10 - VERDIN S","label":"10 - VERDIN S","format":"{{msg.payload}}","layout":"row-center","x":3760,"y":520,"wires":[]},{"id":"107ebf7e.e1efc1","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":13,"width":0,"height":0,"name":"11 - STARLING","label":"11 - STARLING","format":"{{msg.payload}}","layout":"row-center","x":3760,"y":560,"wires":[]},{"id":"3c2d6a60.7d5606","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":14,"width":0,"height":0,"name":"12 - ERGET S S","label":"12 - ERGET S S","format":"{{msg.payload}}","layout":"row-center","x":3760,"y":600,"wires":[]},{"id":"9db642dd.b1f72","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":15,"width":0,"height":0,"name":"13 - ERGET M","label":"13 - ERGET M","format":"{{msg.payload}}","layout":"row-center","x":3760,"y":640,"wires":[]},{"id":"7bd6be9.efb444","type":"json","z":"9b6add0a.026e8","name":"","x":3930,"y":540,"wires":[["e654a33e.001ca","5de8f694.fa6438","5d7d1ec9.b32a7","88ae1b47.a9a018","f366b1ad.9eec","ad894049.3f21c","2f50e310.8f607c","1dbce3d8.3b6cec","f29c73bf.3ee78","b12e3517.1dab68","b9240a22.1e9928","45997b8b.b93224","9787c81c.d942f8","6aeaba21.54c8e4","b5fed29c.5d35","d0896433.6efc28","1bd812c5.9348dd","468b68f5.392298","dd4f2a00.38ccf8","91cdf3c3.34c5a","1ae55734.660e59","dbe5b59d.b464c8"]]},{"id":"e654a33e.001ca","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":120,"wires":[["6a217f96.bc862"]]},{"id":"f54957c8.ee6398","type":"split","z":"9b6add0a.026e8","name":"rm_00","splt":"\"board00\":","x":4410,"y":120,"wires":[["289eccc1.593884"]]},{"id":"5de8f694.fa6438","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":160,"wires":[["6a217f96.bc862"]]},{"id":"5a222f9e.fde1c","type":"split","z":"9b6add0a.026e8","name":"rm_01","splt":"\"board01\":","x":4410,"y":160,"wires":[["2c4ca5f0.15f5ca"]]},{"id":"5d7d1ec9.b32a7","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":200,"wires":[["6a217f96.bc862"]]},{"id":"6c76391f.3519a8","type":"split","z":"9b6add0a.026e8","name":"rm_02","splt":"\"board02\":","x":4410,"y":200,"wires":[["245bb2c6.bc2cde"]]},{"id":"88ae1b47.a9a018","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":240,"wires":[["6a217f96.bc862"]]},{"id":"535ce567.b5a30c","type":"split","z":"9b6add0a.026e8","name":"rm_03","splt":"\"board03\":","x":4410,"y":240,"wires":[["d587d1c1.4c1ed"]]},{"id":"f366b1ad.9eec","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":280,"wires":[["6a217f96.bc862"]]},{"id":"43e0b94a.7897f8","type":"split","z":"9b6add0a.026e8","name":"rm_04","splt":"\"board04\":","x":4410,"y":280,"wires":[["42b1d1a5.11968"]]},{"id":"ad894049.3f21c","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":320,"wires":[["6a217f96.bc862"]]},{"id":"524faf32.50362","type":"split","z":"9b6add0a.026e8","name":"rm_05","splt":"\"board05\":","x":4410,"y":320,"wires":[["b24a7bd.67db788"]]},{"id":"2f50e310.8f607c","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":360,"wires":[["6a217f96.bc862"]]},{"id":"94a96355.900a3","type":"split","z":"9b6add0a.026e8","name":"rm_06","splt":"\"board06\":","x":4410,"y":360,"wires":[["f5c74656.aa0468"]]},{"id":"1dbce3d8.3b6cec","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":400,"wires":[["6a217f96.bc862"]]},{"id":"ae220648.7eed88","type":"split","z":"9b6add0a.026e8","name":"rm_07","splt":"\"board07\":","x":4410,"y":400,"wires":[["22095ad.bdc36a6"]]},{"id":"f29c73bf.3ee78","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":440,"wires":[["6a217f96.bc862"]]},{"id":"18430985.bccdb6","type":"split","z":"9b6add0a.026e8","name":"rm_08","splt":"\"board08\":","x":4410,"y":440,"wires":[["5d092126.29806"]]},{"id":"b12e3517.1dab68","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":480,"wires":[["6a217f96.bc862"]]},{"id":"7e04c1c4.9fbfb","type":"split","z":"9b6add0a.026e8","name":"rm_09","splt":"\"board09\":","x":4410,"y":480,"wires":[["7f70042f.e5499c"]]},{"id":"b9240a22.1e9928","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":520,"wires":[["6a217f96.bc862"]]},{"id":"d7571bb4.b86588","type":"split","z":"9b6add0a.026e8","name":"rm_10","splt":"\"board10\":","x":4410,"y":520,"wires":[["d6607e84.b18db"]]},{"id":"45997b8b.b93224","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":560,"wires":[["6a217f96.bc862"]]},{"id":"f2ceaf19.fe7c1","type":"split","z":"9b6add0a.026e8","name":"rm_11","splt":"\"board11\":","x":4410,"y":560,"wires":[["42442fc9.b54b7"]]},{"id":"9787c81c.d942f8","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":600,"wires":[["6a217f96.bc862"]]},{"id":"d71ea17c.6c06e","type":"split","z":"9b6add0a.026e8","name":"rm_12","splt":"\"board12\":","x":4410,"y":600,"wires":[["a2307688.b12d68"]]},{"id":"6aeaba21.54c8e4","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":640,"wires":[["6a217f96.bc862"]]},{"id":"6a217f96.bc862","type":"switch","z":"9b6add0a.026e8","name":"alternative","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"board00\"","vt":"str"},{"t":"cont","v":"\"board01\"","vt":"str"},{"t":"cont","v":"\"board02\"","vt":"str"},{"t":"cont","v":"\"board03\"","vt":"str"},{"t":"cont","v":"\"board04\"","vt":"str"},{"t":"cont","v":"\"board05\"","vt":"str"},{"t":"cont","v":"\"board06\"","vt":"str"},{"t":"cont","v":"\"board07\"","vt":"str"},{"t":"cont","v":"\"board08\"","vt":"str"},{"t":"cont","v":"\"board09\"","vt":"str"},{"t":"cont","v":"\"board10\"","vt":"str"},{"t":"cont","v":"\"board11\"","vt":"str"},{"t":"cont","v":"\"board12\"","vt":"str"},{"t":"cont","v":"\"board13\"","vt":"str"},{"t":"cont","v":"\"board14\"","vt":"str"},{"t":"cont","v":"\"board15\"","vt":"str"},{"t":"cont","v":"\"board16\"","vt":"str"},{"t":"cont","v":"\"board17\"","vt":"str"},{"t":"cont","v":"\"board18\"","vt":"str"},{"t":"cont","v":"\"board19\"","vt":"str"},{"t":"cont","v":"\"board20\"","vt":"str"},{"t":"cont","v":"\"board21\"","vt":"str"}],"checkall":"true","outputs":22,"x":4250,"y":520,"wires":[["f54957c8.ee6398"],["5a222f9e.fde1c"],["6c76391f.3519a8"],["535ce567.b5a30c"],["43e0b94a.7897f8"],["524faf32.50362"],["94a96355.900a3"],["ae220648.7eed88"],["18430985.bccdb6"],["7e04c1c4.9fbfb"],["d7571bb4.b86588"],["f2ceaf19.fe7c1"],["d71ea17c.6c06e"],["f5eca5f4.4f16a8"],["e6221eed.cc909"],["96c34d73.8c8f"],["b5b0e413.e65f38"],["42d1d37a.58945c"],["58b80352.8ebc8c"],["dae309d2.94fe88"],["4e382b75.8f5c44"],["9865d2f3.3bdd4"]]},{"id":"f5eca5f4.4f16a8","type":"split","z":"9b6add0a.026e8","name":"rm_13","splt":"\"board13\":","x":4410,"y":640,"wires":[["77e89c44.850a04"]]},{"id":"289eccc1.593884","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":120,"wires":[["54944586.86751c","ad840913.5d0908"]]},{"id":"2c4ca5f0.15f5ca","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":160,"wires":[["ec732d3a.4959b","df65a7b5.d8ae08","92195a8e.9eb538"]]},{"id":"245bb2c6.bc2cde","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":200,"wires":[["98809c00.1e5928","5c73aee.3e4f95"]]},{"id":"d587d1c1.4c1ed","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":240,"wires":[["b40b4c0c.7271a","66822bcc.5cb894"]]},{"id":"42b1d1a5.11968","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":280,"wires":[["aa63f31b.0ad66","3564bafb.07dfc6"]]},{"id":"b24a7bd.67db788","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":320,"wires":[["dd03a3a9.9abc8","b4e12c0f.6691b"]]},{"id":"f5c74656.aa0468","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":360,"wires":[["310fa1fb.628c0e","d77eb9a4.087548"]]},{"id":"22095ad.bdc36a6","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":400,"wires":[["db32eb32.4fb608","803c1656.4247a8"]]},{"id":"5d092126.29806","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":440,"wires":[["5d3e559c.92806c","38b7245b.395a2c"]]},{"id":"7f70042f.e5499c","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":480,"wires":[["cbd2e8cc.527dd8","b605d010.22121"]]},{"id":"d6607e84.b18db","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":520,"wires":[["6fc81605.c97478","adca20be.1e01a"]]},{"id":"42442fc9.b54b7","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":560,"wires":[["484622c6.478a5c","ac0a366a.688588"]]},{"id":"a2307688.b12d68","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":600,"wires":[["e25c09ce.231d78","1ef1968f.352519"]]},{"id":"77e89c44.850a04","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":640,"wires":[["a36d4df3.cc337","d3539cc0.c9788"]]},{"id":"ad840913.5d0908","type":"function","z":"9b6add0a.026e8","name":"orders00","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders00\",b); ","outputs":1,"noerr":0,"x":4660,"y":120,"wires":[[]]},{"id":"df65a7b5.d8ae08","type":"function","z":"9b6add0a.026e8","name":"orders01","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders01\",b); ","outputs":1,"noerr":0,"x":4660,"y":160,"wires":[[]]},{"id":"5c73aee.3e4f95","type":"function","z":"9b6add0a.026e8","name":"orders02","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders02\",b); ","outputs":1,"noerr":0,"x":4660,"y":200,"wires":[[]]},{"id":"66822bcc.5cb894","type":"function","z":"9b6add0a.026e8","name":"orders03","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders03\",b); ","outputs":1,"noerr":0,"x":4660,"y":240,"wires":[[]]},{"id":"3564bafb.07dfc6","type":"function","z":"9b6add0a.026e8","name":"orders04","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders04\",b); ","outputs":1,"noerr":0,"x":4660,"y":280,"wires":[[]]},{"id":"b4e12c0f.6691b","type":"function","z":"9b6add0a.026e8","name":"orders05","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders05\",b); ","outputs":1,"noerr":0,"x":4660,"y":320,"wires":[[]]},{"id":"d77eb9a4.087548","type":"function","z":"9b6add0a.026e8","name":"orders06","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders06\",b); ","outputs":1,"noerr":0,"x":4660,"y":360,"wires":[[]]},{"id":"803c1656.4247a8","type":"function","z":"9b6add0a.026e8","name":"orders07","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders07\",b); ","outputs":1,"noerr":0,"x":4660,"y":400,"wires":[[]]},{"id":"38b7245b.395a2c","type":"function","z":"9b6add0a.026e8","name":"orders08","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders08\",b); ","outputs":1,"noerr":0,"x":4660,"y":440,"wires":[[]]},{"id":"b605d010.22121","type":"function","z":"9b6add0a.026e8","name":"orders09","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders09\",b); ","outputs":1,"noerr":0,"x":4660,"y":480,"wires":[[]]},{"id":"adca20be.1e01a","type":"function","z":"9b6add0a.026e8","name":"orders10","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders10\",b); ","outputs":1,"noerr":0,"x":4660,"y":520,"wires":[[]]},{"id":"ac0a366a.688588","type":"function","z":"9b6add0a.026e8","name":"orders11","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders11\",b); ","outputs":1,"noerr":0,"x":4660,"y":560,"wires":[[]]},{"id":"1ef1968f.352519","type":"function","z":"9b6add0a.026e8","name":"orders12","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders12\",b); ","outputs":1,"noerr":0,"x":4660,"y":600,"wires":[[]]},{"id":"d3539cc0.c9788","type":"function","z":"9b6add0a.026e8","name":"orders13","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders13\",b); ","outputs":1,"noerr":0,"x":4660,"y":640,"wires":[[]]},{"id":"b3fda73b.670048","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":16,"width":0,"height":0,"name":"14- KAROO M S","label":"14- KAROO M S","format":"{{msg.payload}}","layout":"row-center","x":3750,"y":680,"wires":[]},{"id":"387760d3.113fc","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":17,"width":0,"height":0,"name":"15 - KAROO M","label":"15 - KAROO M","format":"{{msg.payload}}","layout":"row-center","x":3760,"y":720,"wires":[]},{"id":"9dd55d78.cc978","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":18,"width":0,"height":0,"name":"16 - FLAMINGO M","label":"16 - FLAMINGO MEDIUM","format":"{{msg.payload}}","layout":"row-center","x":3750,"y":760,"wires":[]},{"id":"571a48dc.dcdca8","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":19,"width":0,"height":0,"name":"17 - OSTRICH M","label":"17 - OSTRICH MEDIUM","format":"{{msg.payload}}","layout":"row-center","x":3750,"y":800,"wires":[]},{"id":"56877df4.e167d4","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":20,"width":0,"height":0,"name":"18 - VERDIN M","label":"18 - VERDIN MEDIUM","format":"{{msg.payload}}","layout":"row-center","x":3760,"y":840,"wires":[]},{"id":"520e1a72.93a9d4","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":21,"width":0,"height":0,"name":"19 - EGRET M","label":"19 - EGRET MEDIUM","format":"{{msg.payload}}","layout":"row-center","x":3760,"y":880,"wires":[]},{"id":"ee18b1a4.52777","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":22,"width":0,"height":0,"name":"20 - CHAUMA W","label":"20 - CHAUMA W","format":"{{msg.payload}}","layout":"row-center","x":3750,"y":920,"wires":[]},{"id":"845afcc3.ea8d4","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":23,"width":0,"height":0,"name":"21 - CHAUMA M","label":"21 - CHAUMA M","format":"{{msg.payload}}","layout":"row-center","x":3750,"y":960,"wires":[]},{"id":"b5fed29c.5d35","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":680,"wires":[["6a217f96.bc862"]]},{"id":"d0896433.6efc28","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":720,"wires":[["6a217f96.bc862"]]},{"id":"1bd812c5.9348dd","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":760,"wires":[["6a217f96.bc862"]]},{"id":"468b68f5.392298","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":800,"wires":[["6a217f96.bc862"]]},{"id":"dd4f2a00.38ccf8","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":840,"wires":[["6a217f96.bc862"]]},{"id":"91cdf3c3.34c5a","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":880,"wires":[["6a217f96.bc862"]]},{"id":"1ae55734.660e59","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":920,"wires":[["6a217f96.bc862"]]},{"id":"dbe5b59d.b464c8","type":"split","z":"9b6add0a.026e8","name":"","splt":",","x":4070,"y":960,"wires":[["6a217f96.bc862"]]},{"id":"5ebe1983.eb0f28","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":29,"width":0,"height":0,"name":"14- KAROO M S","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4830,"y":680,"wires":[]},{"id":"e6221eed.cc909","type":"split","z":"9b6add0a.026e8","name":"rm_14","splt":"\"board14\":","x":4410,"y":680,"wires":[["abebbbd4.2b9018"]]},{"id":"abebbbd4.2b9018","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":680,"wires":[["5ebe1983.eb0f28","4d2c689.a34f698"]]},{"id":"4d2c689.a34f698","type":"function","z":"9b6add0a.026e8","name":"orders14","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders14\",b); ","outputs":1,"noerr":0,"x":4660,"y":680,"wires":[[]]},{"id":"5248fe04.0391a","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":29,"width":0,"height":0,"name":"15 - KAROO M","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4820,"y":720,"wires":[]},{"id":"96c34d73.8c8f","type":"split","z":"9b6add0a.026e8","name":"rm_15","splt":"\"board15\":","x":4410,"y":720,"wires":[["3cb2707b.7da5e"]]},{"id":"3cb2707b.7da5e","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":720,"wires":[["5248fe04.0391a","a411e400.0899"]]},{"id":"a411e400.0899","type":"function","z":"9b6add0a.026e8","name":"orders15","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders15\",b); ","outputs":1,"noerr":0,"x":4660,"y":720,"wires":[[]]},{"id":"fc6d7c91.fb7ac","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":29,"width":0,"height":0,"name":"16 - FLAMINGO MEDIUM","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4850,"y":760,"wires":[]},{"id":"b5b0e413.e65f38","type":"split","z":"9b6add0a.026e8","name":"rm_16","splt":"\"board16\":","x":4410,"y":760,"wires":[["2e36f4e6.5de16c"]]},{"id":"2e36f4e6.5de16c","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":760,"wires":[["fc6d7c91.fb7ac","97edce44.f22e6"]]},{"id":"97edce44.f22e6","type":"function","z":"9b6add0a.026e8","name":"orders16","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders16\",b); ","outputs":1,"noerr":0,"x":4660,"y":760,"wires":[[]]},{"id":"fa0cd389.2ab1c","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":29,"width":0,"height":0,"name":"17 - OSTRICH MEDIUM","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4850,"y":800,"wires":[]},{"id":"42d1d37a.58945c","type":"split","z":"9b6add0a.026e8","name":"rm_17","splt":"\"board17\":","x":4410,"y":800,"wires":[["fcb1af93.5328"]]},{"id":"fcb1af93.5328","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":800,"wires":[["fa0cd389.2ab1c","1b21af3a.ff4641"]]},{"id":"1b21af3a.ff4641","type":"function","z":"9b6add0a.026e8","name":"orders17","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders17\",b); ","outputs":1,"noerr":0,"x":4660,"y":800,"wires":[[]]},{"id":"c891b649.d72e38","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":29,"width":0,"height":0,"name":"18 - VERDIN MEDIUM","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4840,"y":840,"wires":[]},{"id":"58b80352.8ebc8c","type":"split","z":"9b6add0a.026e8","name":"rm_18","splt":"\"board18\":","x":4410,"y":840,"wires":[["358c0531.93c90a"]]},{"id":"358c0531.93c90a","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":840,"wires":[["c891b649.d72e38","afed92bb.b7b83"]]},{"id":"afed92bb.b7b83","type":"function","z":"9b6add0a.026e8","name":"orders18","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders18\",b); ","outputs":1,"noerr":0,"x":4660,"y":840,"wires":[[]]},{"id":"840e615e.efd3e","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":29,"width":0,"height":0,"name":"19 - EGRET MEDIUM","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4840,"y":880,"wires":[]},{"id":"dae309d2.94fe88","type":"split","z":"9b6add0a.026e8","name":"rm_19","splt":"\"board19\":","x":4410,"y":880,"wires":[["2452035e.eb0c1c"]]},{"id":"2452035e.eb0c1c","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":880,"wires":[["840e615e.efd3e","aff63791.9ff068"]]},{"id":"aff63791.9ff068","type":"function","z":"9b6add0a.026e8","name":"orders19","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders19\",b); ","outputs":1,"noerr":0,"x":4660,"y":880,"wires":[[]]},{"id":"efaed96e.574ad8","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":29,"width":0,"height":0,"name":"20 - CHAUMA W","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4830,"y":920,"wires":[]},{"id":"4e382b75.8f5c44","type":"split","z":"9b6add0a.026e8","name":"rm_20","splt":"\"board20\":","x":4410,"y":920,"wires":[["c4761f74.fde0d"]]},{"id":"c4761f74.fde0d","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":920,"wires":[["efaed96e.574ad8","c70e82a5.1d774"]]},{"id":"c70e82a5.1d774","type":"function","z":"9b6add0a.026e8","name":"orders20","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nreturn globalContext.set(\"orders20\",b); ","outputs":1,"noerr":0,"x":4660,"y":920,"wires":[[]]},{"id":"694cd2b4.b96a1c","type":"ui_text","z":"9b6add0a.026e8","group":"4acfa5d5.f49bfc","order":29,"width":0,"height":0,"name":"21 - CHAUMA M","label":"","format":"<font size=\"4\">{{msg.payload}}</font>","layout":"row-center","x":4830,"y":960,"wires":[]},{"id":"9865d2f3.3bdd4","type":"split","z":"9b6add0a.026e8","name":"rm_21","splt":"\"board21\":","x":4410,"y":960,"wires":[["be84ad27.6e3ef"]]},{"id":"be84ad27.6e3ef","type":"split","z":"9b6add0a.026e8","name":"}]","splt":"}]","x":4530,"y":960,"wires":[["694cd2b4.b96a1c","b4e9f42.8915808"]]},{"id":"b4e9f42.8915808","type":"function","z":"9b6add0a.026e8","name":"orders21","func":"var globalContext = context.global;\nvar b = 0;\n\nb = msg.payload\n\nif (b == null | b.length() == 0) {\n    b = 0\n}\n\nreturn globalContext.set(\"orders21\",b); ","outputs":1,"noerr":0,"x":4660,"y":960,"wires":[[]]},{"id":"ca1f4766.046bc8","type":"ui_text","z":"9b6add0a.026e8","group":"3813d0b0.58fbd","order":1,"width":0,"height":0,"name":"MODEL","label":"<font size=\"5\" color=\"green\">MODEL</font>","format":"{{msg.payload}}","layout":"row-center","x":3780,"y":60,"wires":[]},{"id":"92195a8e.9eb538","type":"debug","z":"9b6add0a.026e8","name":"","active":true,"console":"false","complete":"false","x":4600,"y":40,"wires":[]},{"id":"5670de04.04298","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"production","name":""},{"id":"4acfa5d5.f49bfc","type":"ui_group","z":"","name":"ORDERS","tab":"dca6a025.32615","order":2,"disp":false,"width":"3"},{"id":"3813d0b0.58fbd","type":"ui_group","z":"","name":"MODELS","tab":"dca6a025.32615","order":1,"disp":false,"width":"5"},{"id":"dca6a025.32615","type":"ui_tab","z":"","name":"ORDERS","icon":"dashboard","order":6}]