DOCS/[NODE_RED_WORKFLOW]working_station.txt
[{"id":"87f49e4f.a24d4","type":"ui_text_input","z":"d68310da.98a1a","name":"","label":"MESSAGE","group":"a07595bc.58c788","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":230,"y":180,"wires":[["892d92cf.20685","2f8d9241.2e126e"]]},{"id":"81aca11b.02c79","type":"function","z":"d68310da.98a1a","name":"decode","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":240,"wires":[["d793583f.528fe8"]]},{"id":"d793583f.528fe8","type":"split","z":"d68310da.98a1a","name":"","splt":"*","x":430,"y":240,"wires":[["29624264.01dc0e"]]},{"id":"29624264.01dc0e","type":"switch","z":"d68310da.98a1a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!","vt":"str"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":";","vt":"str"},{"t":"cont","v":"$","vt":"str"}],"checkall":"true","outputs":4,"x":550,"y":240,"wires":[["a612ca9.153ed38"],["bcfa8ec6.d81a5"],["7a722551.8db21c"],["f6e6870f.a08b58"]]},{"id":"f606d749.78ef68","type":"ui_text","z":"d68310da.98a1a","group":"a07595bc.58c788","order":1,"width":0,"height":0,"name":"","label":"date","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":180,"wires":[]},{"id":"486dc8e8.6bd8f8","type":"ui_text","z":"d68310da.98a1a","group":"a07595bc.58c788","order":2,"width":0,"height":0,"name":"","label":"code","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":220,"wires":[]},{"id":"bcfa8ec6.d81a5","type":"split","z":"d68310da.98a1a","name":"code","splt":"/","x":690,"y":220,"wires":[["486dc8e8.6bd8f8"]]},{"id":"a612ca9.153ed38","type":"split","z":"d68310da.98a1a","name":"date","splt":"!","x":690,"y":180,"wires":[["f606d749.78ef68"]]},{"id":"7a722551.8db21c","type":"split","z":"d68310da.98a1a","name":"code","splt":";","x":690,"y":260,"wires":[["68fa37f6.72bad8"]]},{"id":"68fa37f6.72bad8","type":"ui_text","z":"d68310da.98a1a","group":"a07595bc.58c788","order":3,"width":0,"height":0,"name":"","label":"worker","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":260,"wires":[]},{"id":"f38ffa16.db72d8","type":"ui_chart","z":"d68310da.98a1a","name":"","group":"a07595bc.58c788","order":0,"width":0,"height":0,"label":"ACTIVITY","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step-after","nodata":"","ymin":"0","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":810,"y":300,"wires":[[],[]]},{"id":"f6e6870f.a08b58","type":"split","z":"d68310da.98a1a","name":"code","splt":"$","x":690,"y":300,"wires":[["f38ffa16.db72d8"]]},{"id":"892d92cf.20685","type":"trigger","z":"d68310da.98a1a","op1":"","op2":" ","op1type":"nul","op2type":"str","duration":"100","extend":false,"units":"ms","reset":"","name":"","x":240,"y":120,"wires":[["87f49e4f.a24d4"]]},{"id":"2f8d9241.2e126e","type":"tcp out","z":"d68310da.98a1a","host":"","port":"6606","beserver":"server","base64":false,"end":false,"name":"","x":440,"y":180,"wires":[]},{"id":"75012b19.3958f4","type":"tcp in","z":"d68310da.98a1a","name":"","server":"server","host":"","port":"6706","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":160,"y":240,"wires":[["81aca11b.02c79"]]},{"id":"1750e215.c7b45e","type":"ui_text_input","z":"d68310da.98a1a","name":"","label":"MESSAGE","group":"80a09230.d63e6","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":230,"y":400,"wires":[["6ead5c2a.a3bbc4","a3cdb621.0125c8"]]},{"id":"98b895e3.836bc8","type":"function","z":"d68310da.98a1a","name":"decode","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":460,"wires":[["6c7d7dd4.1cae04"]]},{"id":"6c7d7dd4.1cae04","type":"split","z":"d68310da.98a1a","name":"","splt":"*","x":430,"y":460,"wires":[["d9e8f5f6.43af18"]]},{"id":"d9e8f5f6.43af18","type":"switch","z":"d68310da.98a1a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!","vt":"str"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":";","vt":"str"},{"t":"cont","v":"$","vt":"str"}],"checkall":"true","outputs":4,"x":550,"y":460,"wires":[["eb2a4863.d87748"],["afe7eacd.276dd8"],["870289d5.a17f28"],["d964e356.e8848"]]},{"id":"2863fa7f.8a05d6","type":"ui_text","z":"d68310da.98a1a","group":"80a09230.d63e6","order":1,"width":0,"height":0,"name":"","label":"date","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":400,"wires":[]},{"id":"b53166db.38d958","type":"ui_text","z":"d68310da.98a1a","group":"80a09230.d63e6","order":2,"width":0,"height":0,"name":"","label":"code","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":440,"wires":[]},{"id":"afe7eacd.276dd8","type":"split","z":"d68310da.98a1a","name":"code","splt":"/","x":690,"y":440,"wires":[["b53166db.38d958"]]},{"id":"eb2a4863.d87748","type":"split","z":"d68310da.98a1a","name":"date","splt":"!","x":690,"y":400,"wires":[["2863fa7f.8a05d6"]]},{"id":"870289d5.a17f28","type":"split","z":"d68310da.98a1a","name":"code","splt":";","x":690,"y":480,"wires":[["67b5a271.86abdc"]]},{"id":"67b5a271.86abdc","type":"ui_text","z":"d68310da.98a1a","group":"80a09230.d63e6","order":3,"width":0,"height":0,"name":"","label":"worker","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":480,"wires":[]},{"id":"a3c0a781.117358","type":"ui_chart","z":"d68310da.98a1a","name":"","group":"80a09230.d63e6","order":0,"width":0,"height":0,"label":"ACTIVITY","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step-after","nodata":"","ymin":"0","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":810,"y":520,"wires":[[],[]]},{"id":"d964e356.e8848","type":"split","z":"d68310da.98a1a","name":"code","splt":"$","x":690,"y":520,"wires":[["a3c0a781.117358"]]},{"id":"6ead5c2a.a3bbc4","type":"trigger","z":"d68310da.98a1a","op1":"","op2":" ","op1type":"nul","op2type":"str","duration":"100","extend":false,"units":"ms","reset":"","name":"","x":240,"y":340,"wires":[["1750e215.c7b45e"]]},{"id":"a3cdb621.0125c8","type":"tcp out","z":"d68310da.98a1a","host":"","port":"6616","beserver":"server","base64":false,"end":false,"name":"","x":440,"y":400,"wires":[]},{"id":"4702a6e.c710e58","type":"tcp in","z":"d68310da.98a1a","name":"","server":"server","host":"","port":"6716","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":160,"y":460,"wires":[["98b895e3.836bc8"]]},{"id":"ce7db71f.69f778","type":"ui_text_input","z":"d68310da.98a1a","name":"","label":"MESSAGE","group":"7a9e74d7.3e827c","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":230,"y":620,"wires":[["3d7c3fea.23fc3","ab78171e.2461c8"]]},{"id":"b142072b.026068","type":"function","z":"d68310da.98a1a","name":"decode","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":680,"wires":[["25114373.a66e3c"]]},{"id":"25114373.a66e3c","type":"split","z":"d68310da.98a1a","name":"","splt":"*","x":430,"y":680,"wires":[["2d0d1a71.4ea0b6"]]},{"id":"2d0d1a71.4ea0b6","type":"switch","z":"d68310da.98a1a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!","vt":"str"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":";","vt":"str"},{"t":"cont","v":"$","vt":"str"}],"checkall":"true","outputs":4,"x":550,"y":680,"wires":[["945fa43c.0ebaa8"],["b25333ce.68749"],["cd61a417.993878"],["d96d7b.eee11288"]]},{"id":"5cccea8a.c1e974","type":"ui_text","z":"d68310da.98a1a","group":"7a9e74d7.3e827c","order":1,"width":0,"height":0,"name":"","label":"date","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":620,"wires":[]},{"id":"f9e5f0d5.e1e0d","type":"ui_text","z":"d68310da.98a1a","group":"7a9e74d7.3e827c","order":2,"width":0,"height":0,"name":"","label":"code","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":660,"wires":[]},{"id":"b25333ce.68749","type":"split","z":"d68310da.98a1a","name":"code","splt":"/","x":690,"y":660,"wires":[["f9e5f0d5.e1e0d"]]},{"id":"945fa43c.0ebaa8","type":"split","z":"d68310da.98a1a","name":"date","splt":"!","x":690,"y":620,"wires":[["5cccea8a.c1e974"]]},{"id":"cd61a417.993878","type":"split","z":"d68310da.98a1a","name":"code","splt":";","x":690,"y":700,"wires":[["80c167ac.3707e8"]]},{"id":"80c167ac.3707e8","type":"ui_text","z":"d68310da.98a1a","group":"7a9e74d7.3e827c","order":3,"width":0,"height":0,"name":"","label":"worker","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":700,"wires":[]},{"id":"37246cfc.9594c4","type":"ui_chart","z":"d68310da.98a1a","name":"","group":"7a9e74d7.3e827c","order":0,"width":0,"height":0,"label":"ACTIVITY","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step-after","nodata":"","ymin":"0","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":810,"y":740,"wires":[[],[]]},{"id":"d96d7b.eee11288","type":"split","z":"d68310da.98a1a","name":"code","splt":"$","x":690,"y":740,"wires":[["37246cfc.9594c4"]]},{"id":"3d7c3fea.23fc3","type":"trigger","z":"d68310da.98a1a","op1":"","op2":" ","op1type":"nul","op2type":"str","duration":"100","extend":false,"units":"ms","reset":"","name":"","x":240,"y":560,"wires":[["ce7db71f.69f778"]]},{"id":"ab78171e.2461c8","type":"tcp out","z":"d68310da.98a1a","host":"","port":"6626","beserver":"server","base64":false,"end":false,"name":"","x":440,"y":620,"wires":[]},{"id":"14fed8f0.0953a7","type":"tcp in","z":"d68310da.98a1a","name":"","server":"server","host":"","port":"6726","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":160,"y":680,"wires":[["b142072b.026068"]]},{"id":"bdd038e5.a74fa8","type":"ui_text_input","z":"d68310da.98a1a","name":"","label":"MESSAGE","group":"c53089fd.2f82b8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":230,"y":840,"wires":[["1d8af8d4.cd67a7","4d99b45c.ad80ec"]]},{"id":"8fa67e2e.a7c41","type":"function","z":"d68310da.98a1a","name":"decode","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":900,"wires":[["ddebc224.68ec8"]]},{"id":"ddebc224.68ec8","type":"split","z":"d68310da.98a1a","name":"","splt":"*","x":430,"y":900,"wires":[["805c159f.e1d7b8"]]},{"id":"805c159f.e1d7b8","type":"switch","z":"d68310da.98a1a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!","vt":"str"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":";","vt":"str"},{"t":"cont","v":"$","vt":"str"}],"checkall":"true","outputs":4,"x":550,"y":900,"wires":[["25237457.1c73cc"],["459da106.db8e7"],["ab14dd66.7355d"],["9b772b12.cdc248"]]},{"id":"2ab6aaec.8005e6","type":"ui_text","z":"d68310da.98a1a","group":"c53089fd.2f82b8","order":1,"width":0,"height":0,"name":"","label":"date","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":840,"wires":[]},{"id":"f28b8a87.109668","type":"ui_text","z":"d68310da.98a1a","group":"c53089fd.2f82b8","order":2,"width":0,"height":0,"name":"","label":"code","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":880,"wires":[]},{"id":"459da106.db8e7","type":"split","z":"d68310da.98a1a","name":"code","splt":"/","x":690,"y":880,"wires":[["f28b8a87.109668"]]},{"id":"25237457.1c73cc","type":"split","z":"d68310da.98a1a","name":"date","splt":"!","x":690,"y":840,"wires":[["2ab6aaec.8005e6"]]},{"id":"ab14dd66.7355d","type":"split","z":"d68310da.98a1a","name":"code","splt":";","x":690,"y":920,"wires":[["43a5f968.0d7728"]]},{"id":"43a5f968.0d7728","type":"ui_text","z":"d68310da.98a1a","group":"c53089fd.2f82b8","order":3,"width":0,"height":0,"name":"","label":"worker","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":920,"wires":[]},{"id":"58238b78.81b654","type":"ui_chart","z":"d68310da.98a1a","name":"","group":"c53089fd.2f82b8","order":0,"width":0,"height":0,"label":"ACTIVITY","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step-after","nodata":"","ymin":"0","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":810,"y":960,"wires":[[],[]]},{"id":"9b772b12.cdc248","type":"split","z":"d68310da.98a1a","name":"code","splt":"$","x":690,"y":960,"wires":[["58238b78.81b654"]]},{"id":"1d8af8d4.cd67a7","type":"trigger","z":"d68310da.98a1a","op1":"","op2":" ","op1type":"nul","op2type":"str","duration":"100","extend":false,"units":"ms","reset":"","name":"","x":240,"y":780,"wires":[["bdd038e5.a74fa8"]]},{"id":"4d99b45c.ad80ec","type":"tcp out","z":"d68310da.98a1a","host":"","port":"6636","beserver":"server","base64":false,"end":false,"name":"","x":440,"y":840,"wires":[]},{"id":"eb72fd84.60a34","type":"tcp in","z":"d68310da.98a1a","name":"","server":"server","host":"","port":"6736","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":160,"y":900,"wires":[["8fa67e2e.a7c41"]]},{"id":"fe7f2bc2.0f6198","type":"ui_text_input","z":"d68310da.98a1a","name":"","label":"MESSAGE","group":"1c0d7df5.303ca2","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":250,"y":1060,"wires":[["5e572a48.9a6a14","da6427f1.110488"]]},{"id":"3ceaefb1.fc52e","type":"function","z":"d68310da.98a1a","name":"decode","func":"msg.payload = msg.payload.toString('utf-8');\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1120,"wires":[["9672bb39.611608"]]},{"id":"9672bb39.611608","type":"split","z":"d68310da.98a1a","name":"","splt":"*","x":430,"y":1120,"wires":[["dbc09f03.41841"]]},{"id":"dbc09f03.41841","type":"switch","z":"d68310da.98a1a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!","vt":"str"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":";","vt":"str"},{"t":"cont","v":"$","vt":"str"}],"checkall":"true","outputs":4,"x":550,"y":1120,"wires":[["c7cbb39c.ef04"],["f70e8e06.840b5"],["c881e234.0cd92"],["872681ba.67323"]]},{"id":"8822b57d.2708c8","type":"ui_text","z":"d68310da.98a1a","group":"1c0d7df5.303ca2","order":1,"width":0,"height":0,"name":"","label":"date","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":1060,"wires":[]},{"id":"7e7dd825.8bcd38","type":"ui_text","z":"d68310da.98a1a","group":"1c0d7df5.303ca2","order":2,"width":0,"height":0,"name":"","label":"code","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":1100,"wires":[]},{"id":"f70e8e06.840b5","type":"split","z":"d68310da.98a1a","name":"code","splt":"/","x":690,"y":1100,"wires":[["7e7dd825.8bcd38"]]},{"id":"c7cbb39c.ef04","type":"split","z":"d68310da.98a1a","name":"date","splt":"!","x":690,"y":1060,"wires":[["8822b57d.2708c8"]]},{"id":"c881e234.0cd92","type":"split","z":"d68310da.98a1a","name":"code","splt":";","x":690,"y":1140,"wires":[["a1e7f0ce.83c3d"]]},{"id":"a1e7f0ce.83c3d","type":"ui_text","z":"d68310da.98a1a","group":"1c0d7df5.303ca2","order":3,"width":0,"height":0,"name":"","label":"worker","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":1140,"wires":[]},{"id":"5b38b20.dc54b5","type":"ui_chart","z":"d68310da.98a1a","name":"","group":"1c0d7df5.303ca2","order":0,"width":0,"height":0,"label":"ACTIVITY","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step-after","nodata":"","ymin":"0","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":810,"y":1180,"wires":[[],[]]},{"id":"872681ba.67323","type":"split","z":"d68310da.98a1a","name":"code","splt":"$","x":690,"y":1180,"wires":[["5b38b20.dc54b5"]]},{"id":"5e572a48.9a6a14","type":"trigger","z":"d68310da.98a1a","op1":"","op2":" ","op1type":"nul","op2type":"str","duration":"100","extend":false,"units":"ms","reset":"","name":"","x":260,"y":1000,"wires":[["fe7f2bc2.0f6198"]]},{"id":"da6427f1.110488","type":"tcp out","z":"d68310da.98a1a","host":"","port":"6646","beserver":"server","base64":false,"end":false,"name":"","x":440,"y":1060,"wires":[]},{"id":"63e247a6.472658","type":"tcp in","z":"d68310da.98a1a","name":"","server":"server","host":"","port":"6746","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":160,"y":1120,"wires":[["3ceaefb1.fc52e"]]},{"id":"a07595bc.58c788","type":"ui_group","z":"","name":"--00 PREPARING-ROOM--","tab":"98ea44f3.a135b8","order":1,"disp":true,"width":"5"},{"id":"80a09230.d63e6","type":"ui_group","z":"","name":"--01 PRESSING--ROOM--","tab":"98ea44f3.a135b8","order":2,"disp":true,"width":"5"},{"id":"7a9e74d7.3e827c","type":"ui_group","z":"","name":"--02 CUTTING---ROOM--","tab":"98ea44f3.a135b8","order":3,"disp":true,"width":"5"},{"id":"c53089fd.2f82b8","type":"ui_group","z":"","name":"--03 SANDING-ROOM--","tab":"98ea44f3.a135b8","order":4,"disp":true,"width":"5"},{"id":"1c0d7df5.303ca2","type":"ui_group","z":"","name":"--04 FINISHING-ROOM--","tab":"98ea44f3.a135b8","order":5,"disp":true,"width":"5"},{"id":"98ea44f3.a135b8","type":"ui_tab","z":"","name":"PANELS","icon":"dashboard","order":1}]