DOCS/[NODE_RED_WORKFLOW]ID_history.txt
[{"id":"4ad52315.a63dec","type":"ui_text_input","z":"9b6add0a.026e8","name":"","label":"ENTER SERIAL NUMBER","group":"996b9473.7912c8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":2660,"y":940,"wires":[["fd199edb.966bd"]]},{"id":"34d0efea.17e8d","type":"mongodb in","z":"9b6add0a.026e8","mongodb":"5670de04.04298","name":"preparing","collection":"preparing","operation":"find","x":3020,"y":860,"wires":[["c3f31cf2.ad5d4"]]},{"id":"84f7a745.590008","type":"mongodb in","z":"9b6add0a.026e8","mongodb":"5670de04.04298","name":"pressing","collection":"pressing","operation":"find","x":3020,"y":900,"wires":[["2c997252.bec7ae"]]},{"id":"17ef5275.46d95e","type":"mongodb in","z":"9b6add0a.026e8","mongodb":"5670de04.04298","name":"cutting","collection":"cutting","operation":"find","x":3030,"y":940,"wires":[["41a581ba.e95c"]]},{"id":"82f8e7d4.a059d8","type":"mongodb in","z":"9b6add0a.026e8","mongodb":"5670de04.04298","name":"sanding","collection":"sanding","operation":"find","x":3020,"y":980,"wires":[["79b50f42.95d9a"]]},{"id":"fd199edb.966bd","type":"function","z":"9b6add0a.026e8","name":"Convert","func":"// MongoDB requires payload wrapped into object \n\nvar a = 1\nvar b = 0\n\nvar newMsg = { payload: {\"code\": msg.payload}, limit: a, skip: b, projection: {\"timestamp\": \"\"}};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2860,"y":940,"wires":[["34d0efea.17e8d","84f7a745.590008","17ef5275.46d95e","82f8e7d4.a059d8","ef1babba.ea1078"]]},{"id":"678c4029.91ca","type":"ui_text","z":"9b6add0a.026e8","group":"996b9473.7912c8","order":0,"width":"5","height":"1","name":"PREPARING","label":"<font size=\"4\" color=\"green\">PREPARING</font>","format":"{{msg.payload}}","layout":"col-center","x":3310,"y":860,"wires":[]},{"id":"f82544d8.8c4ab8","type":"ui_text","z":"9b6add0a.026e8","group":"996b9473.7912c8","order":0,"width":"5","height":"1","name":"PRESSING","label":"<font size=\"4\" color=\"green\">PRESSING</font>","format":"{{msg.payload}}","layout":"col-center","x":3310,"y":900,"wires":[]},{"id":"718325c2.b1c1ec","type":"ui_text","z":"9b6add0a.026e8","group":"996b9473.7912c8","order":0,"width":"5","height":"1","name":"CUTTING","label":"<font size=\"4\" color=\"green\">CUTTING</font>","format":"{{msg.payload}}","layout":"col-center","x":3300,"y":940,"wires":[]},{"id":"4349e374.3192dc","type":"ui_text","z":"9b6add0a.026e8","group":"996b9473.7912c8","order":0,"width":"5","height":"1","name":"SANDING","label":"<font size=\"4\" color=\"green\">SANDING</font>","format":"{{msg.payload}}","layout":"col-center","x":3310,"y":980,"wires":[]},{"id":"ef1babba.ea1078","type":"mongodb in","z":"9b6add0a.026e8","mongodb":"5670de04.04298","name":"finishing","collection":"finishing","operation":"find","x":3020,"y":1020,"wires":[["8f6eefab.31fbf"]]},{"id":"6d3f7a7b.f2b0a4","type":"ui_text","z":"9b6add0a.026e8","group":"996b9473.7912c8","order":0,"width":"5","height":"1","name":"FINISHING","label":"<font size=\"4\" color=\"green\">FINISHING</font>","format":"{{msg.payload}}","layout":"col-center","x":3310,"y":1020,"wires":[]},{"id":"c3f31cf2.ad5d4","type":"function","z":"9b6add0a.026e8","name":"Convert","func":"// MongoDB requires payload wrapped into object \n\nvar data = JSON.stringify(msg.payload)\ndata = data.slice(48, 64)\nvar newMsg = {payload: data}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":3160,"y":860,"wires":[["678c4029.91ca"]]},{"id":"2c997252.bec7ae","type":"function","z":"9b6add0a.026e8","name":"Convert","func":"// MongoDB requires payload wrapped into object \n\nvar data = JSON.stringify(msg.payload)\ndata = data.slice(48, 64)\nvar newMsg = {payload: data}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":3160,"y":900,"wires":[["f82544d8.8c4ab8"]]},{"id":"41a581ba.e95c","type":"function","z":"9b6add0a.026e8","name":"Convert","func":"// MongoDB requires payload wrapped into object \n\nvar data = JSON.stringify(msg.payload)\ndata = data.slice(48, 64)\nvar newMsg = {payload: data}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":3160,"y":940,"wires":[["718325c2.b1c1ec"]]},{"id":"79b50f42.95d9a","type":"function","z":"9b6add0a.026e8","name":"Convert","func":"// MongoDB requires payload wrapped into object \n\nvar data = JSON.stringify(msg.payload)\ndata = data.slice(48, 64)\nvar newMsg = {payload: data}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":3160,"y":980,"wires":[["4349e374.3192dc"]]},{"id":"8f6eefab.31fbf","type":"function","z":"9b6add0a.026e8","name":"Convert","func":"// MongoDB requires payload wrapped into object \n\nvar data = JSON.stringify(msg.payload)\ndata = data.slice(48, 64)\nvar newMsg = {payload: data}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":3160,"y":1020,"wires":[["6d3f7a7b.f2b0a4"]]},{"id":"996b9473.7912c8","type":"ui_group","z":"","name":"---PRODUCTION HISTORY---","tab":"a4c4764d.489d88","order":1,"disp":true,"width":"5"},{"id":"5670de04.04298","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"production","name":""},{"id":"a4c4764d.489d88","type":"ui_tab","z":"","name":"FIND","icon":"dashboard","order":7}]